<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                <div style="background-color: green;"><p>{{message}}</p> </div>                {% endfor %}
            {% endif %}
        {% endwith %}
    <h3>Email Addresses Entered:</h3>
    {% for user in  users%}
    <p>{{user['email']}} {{user['created_at']}}</p>
    {% endfor %}
</body>
</html>